@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: 222 89% 55%;
}

html,
body {
  height: 100%;
}

body {
  background: #0b0f17;
  color: #e6edf7;
}

.bg-brand {
  background-color: hsl(var(--brand));
}

.text-brand {
  color: hsl(var(--brand));
}

